@font-face {
  font-family: 'kaileyregular';
  src: url('/fonts/great_lakes_lettering_-_kailey-webfont.eot');
  src: url('/fonts/great_lakes_lettering_-_kailey-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/great_lakes_lettering_-_kailey-webfont.woff') format('woff'), url('/fonts/great_lakes_lettering_-_kailey-webfont.ttf') format('truetype'), url('/fonts/great_lakes_lettering_-_kailey-webfont.svg#kaileyregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'nanamiblack';
  src: url('/fonts/thinkdust_-_nanami_black-webfont.eot');
  src: url('/fonts/thinkdust_-_nanami_black-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/thinkdust_-_nanami_black-webfont.woff') format('woff'), url('/fonts/thinkdust_-_nanami_black-webfont.ttf') format('truetype'), url('/fonts/thinkdust_-_nanami_black-webfont.svg#nanamiblack') format('svg');
  font-weight: normal;
  font-style: normal;
}
#p-menu {
  margin: 20px 0 0 0;
  background: url('../img/navbar.png') no-repeat 0 0;
  width: 876px;
  height: 61px;
  margin: 20px auto;
  border: 0;
}
#p-menu .navbar-brand {
  width: 220px;
}
#p-menu .navbar-nav {
  margin-top: 10px;
}
#p-menu li.active a {
  background: none;
}
#p-menu a {
  font-family: 'nanamiblack';
  line-height: 55px;
  font-size: 20px;
  padding: 0 5px;
  color: #fff;
}
#p-menu a.active {
  color: #00D9FF;
}
#p-menu a.active.menu-menu {
  color: #E1FB5A;
}
#p-menu a:hover {
  color: #00D9FF;
}
#p-menu li.navbar-dot {
  font-weight: bold;
  font-size: 24px;
  line-height: 55px;
  color: #fff;
}
#wrapper {
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
#home-wrapper {
  height: 1200px;
  margin: 100px auto 0 auto;
  overflow: hidden;
}
#home-wrapper #home-text {
  font-family: 'nanamiblack';
  font-size: 80px;
  color: #EC2F95;
  line-height: 1;
  text-align: center;
  font-weight: bold;
  margin-top: 50px;
}
#home-wrapper #home-text a {
  color: #EC2F95;
}
#home-wrapper #home-text a:hover {
  text-decoration: none;
}
#home-wrapper #social-bar {
  background: url('../img/social-bar-bg.png') no-repeat 0 0;
  font-family: 'nanamiblack';
  font-size: 20px;
  width: 753px;
  height: 66px;
  margin-top: 100px;
  transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  /* IE 9 */

  -webkit-transform: rotate(2deg);
  /* Safari and Chrome */

}
#home-wrapper #social-bar #social-bar-text {
  margin: 10px;
  float: left;
  margin-right: 30px;
}
#home-wrapper #social-bar .social-icon {
  float: left;
  padding: 7px;
}
#suntory-wrapper {
  height: 700px;
  overflow: hidden;
}
#suntory-wrapper #suntory-text {
  font-family: 'kaileyregular';
  font-size: 60px;
  color: #fff;
  margin-top: 200px;
  line-height: 1;
  text-align: center;
}
#suntory-wrapper #suntory-logo {
  margin-top: 100px;
  text-align: center;
}
#menu-wrapper {
  height: 1500px;
  text-align: center;
}
#menu-wrapper #menu-image {
  background: url('../img/menu.png') no-repeat 0 0;
  width: 891px;
  height: 1214px;
  margin: 0 auto 0 auto;
}
#photo-wrapper {
  height: 1000px;
  text-align: center;
}
#photo-wrapper #heart {
  background: url('../img/gallery-heart.png') no-repeat 0 0;
  width: 678px;
  height: 628px;
  margin: 0 auto 0 auto;
}
#form-wrapper {
  height: 1200px;
  text-align: center;
  font-family: 'nanamiblack';
  font-size: 65px;
  width: 850px;
  margin: 0 auto;
}
#form-wrapper #form-text {
  color: #fff;
  margin-bottom: 50px;
}
#form-wrapper #form-expect {
  color: #EC2F95;
  text-decoration: underline;
  display: none;
  margin-top: 200px;
}
#form-wrapper #form-form {
  font-size: 35px;
}
#form-wrapper *::-webkit-input-placeholder {
  /* WebKit browsers */

  color: #000;
}
#form-wrapper *:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */

  color: #000;
}
#form-wrapper *::-moz-placeholder {
  /* Mozilla Firefox 19+ */

  color: #000;
}
#form-wrapper *:-ms-input-placeholder {
  /* Internet Explorer 10+ */

  color: #000;
}
#about-wrapper {
  height: 1000px;
  text-align: center;
  width: 800px;
  margin: 0 auto;
}
/* BACKGROUND IMAGES */
#images {
  display: block;
  height: 5px;
  width: 0px;
  z-index: 1;
}
#images div {
  background-attachment: fixed;
  height: 0px;
  width: 0px;
}
#images #page1 {
  background-image: url(../img/bg1.jpg);
  background-position: 50% 0;
}
#images #page2 {
  background-image: url(../img/bg2.gif);
  background-position: 45% 0;
  background-repeat: no-repeat;
  background-color: #000;
  min-height: 700px;
  background-size: 1500px 800px;
}
#images #page3 {
  background-image: url(../img/bg3.jpg);
  background-position: 50% 0;
  min-height: 1500px;
}
#images #page4 {
  background-image: url(../img/bg4.jpg);
  background-position: 50% 30%;
  min-height: 1000px;
}
#images #page5 {
  background-image: url(../img/bg5.jpg);
  background-position: 50% 30%;
  min-height: 1200px;
}
#images #page6 {
  background-image: url(../img/bg6.jpg);
  background-position: 50% 30%;
  min-height: 1000px;
}
/* CONTENT*/
#home-bottom-image a {
  position: absolute;
  display: block;
  text-indent: -9999px;
}
#home-bottom-image a#email {
  height: 10px;
  left: 248px;
  top: 94px;
  width: 50px;
}
#home-bottom-image a#facebook {
  height: 25px;
  left: 112px;
  top: 210px;
  width: 87px;
}
#home-bottom-image a#twitter {
  height: 25px;
  left: 215px;
  top: 210px;
  width: 107px;
}
#home-bottom-image a#media {
  right: 250px;
  top: 268px;
  width: 176px;
}
#home-bottom-image a#careers {
  right: 42px;
  top: 268px;
  width: 191px;
}
#home-bottom-image a#email2 {
  height: 10px;
  left: 684px;
  top: 94px;
  width: 50px;
}
#home-bottom-image a#facebook2 {
  height: 25px;
  left: 556px;
  top: 210px;
  width: 87px;
}
#home-bottom-image a#twitter2 {
  height: 25px;
  left: 659px;
  top: 210px;
  width: 107px;
}
#footer {
  width: 1044px;
  height: 40px;
  margin: 100px 0 0 0;
}
@media (max-width: 480px) {
  #images #page1,
  #images #page2,
  #images #page3,
  #images #page4 {
    min-width: 1044px;
  }
}
#menu-wrapper-inner {
  display: block;
  float: left;
  position: relative;
  width: 1012px;
  height: 1216px;
  max-height: 2475px;
}
#menu-wrapper-inner div {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  display: block;
  float: left;
  height: 1216px;
}
#menu-wrapper-inner div.active {
  opacity: 1;
}
.sub_menu {
  display: block;
  float: left;
  margin-bottom: 20px;
}
.sub_menu a {
  height: 40px;
  width: 200px;
  display: block;
  float: left;
  background-position: top left;
  background-repeat: no-repeat;
  background-image: url(images/menu_bg.png);
  text-indent: -9999px;
}
.sub_menu a.menu1 {
  width: 175px;
  background-position: 0 0;
}
.sub_menu a.menu2 {
  width: 272px;
  background-position: -175px 0;
}
.sub_menu a.menu3 {
  width: 277px;
  background-position: -447px 0;
}
.sub_menu a.menu4 {
  width: 281px;
  background-position: right top;
}
.sub_menu a.menu1:hover,
.sub_menu a.menu1.current {
  background-position: 0 -40px;
}
.sub_menu a.menu2:hover,
.sub_menu a.menu2.current {
  background-position: -175px -40px;
}
.sub_menu a.menu3:hover,
.sub_menu a.menu3.current {
  background-position: -447px -40px;
}
.sub_menu a.menu4:hover,
.sub_menu a.menu4.current {
  background-position: right bottom;
}
